@charset "UTF-8";
/*リセットCSS*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/* 共通 */
html {
  font-size: 100%;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  background-color: #050507;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #fff;
}

h2 {
  display: inline-block;
  border-bottom: 1px solid #fff;
  font-size: 3.75rem;
}

p {
  color: #fff;
}

.wrapper {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

/* ヘッダー */
.header {
  position: fixed;
  padding-left: 30px;
  padding-right: 30px;
  height: 80px;
  width: 100%;
  background: none;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
}
.header .header-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100%;
  margin: auto;
  padding-right: 20px;
  padding-left: 20px;
}
.header .header-logo {
  line-height: 30px;
}
.header .header-logo img {
  width: 140px;
  height: 20px;
}
.header .header-logo img:hover {
  opacity: 0.7;
  transition: 0.2s ease-in-out;
}

.header.active {
  opacity: 1;
}

/* ハンガーメニュー */
.cp-header03__hamburger__button {
  display: block;
  position: absolute;
  top: 10px;
  right: 95px;
  bottom: 0;
  width: 42px;
  height: 42px;
  margin: auto;
  z-index: 3;
  cursor: pointer;
  text-align: center;
}

.cp-header03__hamburger__button span {
  display: block;
  position: absolute;
  width: 30px;
  height: 2px;
  left: 6px;
  background: #fff;
  transition: 0.2s ease-in-out;
}

.cp-header03__hamburger__button span:nth-child(1) {
  top: 10px;
}

.cp-header03__hamburger__button span:nth-child(2) {
  top: 20px;
}

.cp-header03__hamburger__button span:nth-child(3) {
  top: 30px;
}

.cp-header03__hamburger__button.active span {
  background: #fff;
}

.cp-header03__hamburger__button.active span:nth-child(1) {
  top: 16px;
  left: 6px;
  transform: rotate(-45deg);
}

.cp-header03__hamburger__button.active span:nth-child(2),
.cp-header03__hamburger__button.active span:nth-child(3) {
  top: 16px;
  transform: rotate(45deg);
}

.cp-header03__hamburger__content {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  transform: translateX(100%);
  width: 100%;
  height: 100%;
  padding: 15px;
  transition: all 0.2s;
  background: #707070;
}

.cp-header03__hamburger__content.active {
  transform: translateX(0%);
}

.cp-header03__hamburger__item {
  text-align: center;
}

.cp-header03__hamburger__item a {
  display: inline-block;
  padding: 16px;
  color: #fff;
  text-decoration: none;
}

@media screen and (max-width: 1024px) {
  .cp-header03 {
    position: fixed;
  }
}
@media screen and (max-width: 599px) {
  .header-container {
    padding-right: 15px;
    padding-left: 15px;
  }

  /* ハンバーガーメニュー */
  .cp-header03__hamburger__button {
    right: 10px;
  }
}
#nav {
  position: absolute;
  top: -40%;
  width: 40%;
  height: 100vh;
  background: #fff;
  transition: 0.7s;
}
#nav ul {
  padding-top: 80px;
}
#nav ul li {
  list-style-type: none;
  font-size: 20px;
}
#nav a {
  display: block;
  margin: 0 15px;
  padding: 10px;
  transition: 0.5s;
  text-decoration: none;
  color: #000;
}
#nav a :hover {
  color: #fff;
  background: #cd5c5c;
  border-bottom: none;
}

/*メインビジュアル*/
.mainvisual {
  display: flex;
  width: 100%;
  overflow-x: hidden;
}

/*タイトル*/
.title {
  width: 100%;
  text-align: center;
}
.title h1 {
  font-size: 6.2rem;
  font-weight: normal;
}

/*インフォメーション*/
.information {
  margin-bottom: 154px;
}
.information p:nth-of-type(1) {
  margin: 0;
  font-size: 1.5rem;
}
.information p:nth-of-type(2) {
  margin: 6px 0 0;
  font-size: 1.125rem;
}
.information p:nth-of-type(3) {
  margin: 30px 0 25px;
  font-weight: bold;
  font-size: 2.5rem;
}
.information p:nth-of-type(4) {
  margin: 0 0 6px;
}
.information p:nth-of-type(5) {
  margin: 0;
}

/*ギャラリー*/
.gallery img {
  width: 355px;
}
.gallery .flower-one {
  height: 488px;
}
.gallery .flower-two {
  height: 235px;
}
.gallery .flower-three {
  height: 355px;
}
.gallery .flower-four {
  height: 533px;
}
.gallery .flower-five {
  height: 444px;
}
.gallery .flower-six {
  height: 235px;
}
.gallery ul {
  display: flex;
  flex-direction: column;
}
.gallery li {
  margin-bottom: 60px;
}
.gallery li:nth-child(odd) {
  text-align: left;
}
.gallery li:nth-child(even) {
  text-align: right;
}

/*access*/
.access {
  transition: 0.5s;
}
.access p:nth-of-type(1) {
  margin: 0 0 24px;
  font-size: 1.75rem;
  font-weight: bold;
}
.access p:nth-of-type(2) {
  margin: 6px 0 0;
  font-size: 1.125rem;
}
.access p:nth-of-type(3) {
  margin: 30px 0 5px;
}
.access p:nth-of-type(4) {
  margin: 0 0 31px;
}
.access .access-btn {
  display: block;
  width: 270px;
  margin: 0 auto;
  padding: 19px 0;
  border: 1px solid #fff;
  color: #fff;
}

/*コンタクト*/
.contact {
  margin-top: 493px;
}
.contact .contact-btn {
  position: relative;
  display: block;
  width: 400px;
  margin: 0 auto 20px;
  padding: 32px 0;
  border: 1px solid #fff;
  color: #fff;
  transition: 0.3s;
}
.contact .contact-btn:hover {
  opacity: 0.5;
}
.contact .contact-btn::before {
  content: "";
  display: block;
  width: 120px;
  height: 1px;
  background: #fff;
  position: absolute;
  bottom: 40px;
  right: -40px;
  transition: 0.3s;
}
.contact .contact-btn:hover::before {
  right: -50px;
}
.contact .contact-btn::after {
  content: "";
  display: block;
  width: 15px;
  height: 1px;
  background: #fff;
  position: absolute;
  bottom: 45px;
  right: -40px;
  transform: rotate(30deg);
  transition: 0.3s;
}
.contact .contact-btn:hover::after {
  right: -50px;
}
.contact .contact-btn:last-child {
  margin-bottom: 0;
}

.bg {
  background: url("/img/bg.jpg") center center repeat !important;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  z-index: 10;
}

/*フッター*/
footer {
  display: flex;
  justify-content: space-between;
  margin: 200px 0 0 0;
  padding: 83px 30px 80px;
  border-top: 1px solid #fff;
  font-size: 0.7rem;
}
footer .footer-left-ul {
  display: flex;
  padding: 0;
}
footer .footer-left-ul li {
  color: #fff;
  padding-left: 18px;
}
footer .footer-left-ul li:first-child {
  padding: 0;
}
footer .footer-left-ul li a {
  color: #fff;
}
footer .footer-right-ul {
  display: flex;
  align-items: flex-end;
  padding: 0;
}
footer .footer-right-ul li {
  color: #fff;
  padding-left: 28px;
}
footer .footer-right-ul li:first-child {
  padding: 0;
}/*# sourceMappingURL=style.css.map */